body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header-logo {
    color: #2E2F42;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-color {
    color: #4D5AE5;
}

.header-menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 1.5;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.menu-contact {
    color: #434455;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.menu-contact:hover {
    color: aqua;
}

.menu-contact:focus {
    color: #4D5AE5;
}

/*!-------------------MAIN BANNER-------------- */

.main-banner {
    background-color: #2E2F42;
}

.main-banner-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.main-banner-btn {
    color: #FFF;
    font-family: inherit;
    font-size: 16px; 
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/*? -------------------SECTION BUSSINESS-------------- */

.bussiness {}

.bussiness-title {}

.bussiness-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.bussiness-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

